*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*   BARRA NAV */
li, a{
    list-style: none;
    color: white;
    text-decoration: none;
}

.nav-bar{
    background-color: #0084FD ;
    padding: 1em;
}

.container{
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    color: white;
}

.main-menu{
    display: flex;
    gap: 25px;
    padding: 10px;
    font-size: 1.25rem;
}

.startbutton{
    padding: 15px;
    background-color: white;
    border-radius: 50px;
    color: black;
    font-size: 1.25rem;
}
/* FINE BARRA NAV */

/* CARDS */

.container-cards{
    max-width: 1140px;
    margin: auto;
} 

.row{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    flex-shrink:0;
    gap: 30px;
}

.card{
    background-color: #B5DDFF ;
    border-radius: 20px;
    text-align: center;
    border: 1px solid black;
}

.card-big{
    flex-basis: 65%;
    border-radius: 20px;
    display: flex;
}

.text-card{
    width: 200px;
}

.text-card h2{
    color: #0084FD;
}

.text-card p{
   color: grey;
   line-height: 25px;
}

.text-card .button-app{
    background-color: #0084FD;
    text-decoration: none;
    color: white;
    padding: 5px 40px;
    border-radius: 20px;
}

.image-card img{
    width: 100%;
    display: block;
}

.image-card{
    width: 250px;
}

.card-small{
   padding: 20px;
   flex-basis: 31%;
}

.card-small .text-card{
    text-align: center;
}

.iconsmall-card{
    color: #0084FD;;
    font-size: 60px;
}

/* FINE CARDS */
/* SECONDA SEZIONE */

.sect2 {
    background-color: #9593e6;
    padding: 6.25rem 0 4rem 0;
    margin-top: 100px;
}

.container-small {
    max-width: 1000px;
    padding: 0 1.9rem;
    margin: auto;
}

.row-2 {
    display: flex;
    gap: 40px;
}

.col-plan {
    flex-basis: 0;
    flex-grow: 1;
    align-items: center;
    line-height: 1.5rem;
}

.second-plan-content {
    background-color: white;
    color: black;
    border-radius: 2rem;
    padding: 1.5rem;
    text-align: center;
}

.second-plan {
    align-self: flex-end;
}

.first-plan-content {
    color: white;
}

.first-plan-content img {
    margin-bottom: 6.25rem;
    width: 100%;
}

.first-plan-content h3 {
    margin-bottom: 2rem;
    font-size: 2rem;
}

.second-plan-content img {
    width: 55%;
}

.planning2text{
 padding: 20px;
}

.second-plan-content i {
    font-size: 24px;
    border-radius: 50px;
    padding: 1.5rem 1.8rem;
    background-color: #9593e6;
    border-bottom: 30px;
}

/* FINE SECONDA SEZIONE */
/* TERZA SEZIONE */

.sect3text{
    color: black;
    padding: 50px;
    text-align: center;
    margin: auto;
}

.row-test{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    margin: auto;
    width: 940px;
    gap: 30px;
}

.coltest{
    background-color: #9593e6;
    border-radius: 20px;
    padding: 20px;
    border-bottom: 30px;
}

.card-test{
    display: flex;
    line-height: 70px;
}


.card-test img{
    width: calc(100% / 5);
    object-fit: cover;
    border-radius: 50%;
    aspect-ratio: 1;
    padding: 20px;
}

.test-text{
 color: white;
}

.testimonials{
    padding-bottom: 40px;
    font-size: 1.25rem;
}

.sect3subtitle{
    padding-bottom: 40px;
    font-size: 2.25rem;
    font-weight: bold;
    color: #9593e6;
}

.sect3descr{
    font-size: 1.25rem;
}

/* FINE TERZA SEZIONE */


.sect-benefits{
    background-color: #9792e4;
    margin-top: 100px;
}

.col-benefits h1 {
    font-size: 2.2rem;
    color: white;
    text-align: center;
    padding: 3rem 0;
}

.benefits-title{
    text-align: center;
    padding: 50px 0 100px 0;
    font-size: 3rem;
    color: white;
}

.row-benefits {
    max-width: 940px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.col-benefits {
    padding: 1.5rem;
    background-color: white;
    flex-basis: calc(calc(100% - 6rem) / 3);
    border-radius: 1.5rem;
    color: #888888;
    margin: auto;
    margin-bottom: 30px;
}

.benefits-button {
    border-top: 20px;
    background-color: #9792e4;
    color: white;
    border-radius: 20px;
    padding: 10px 40px 10px 40px;
    font-weight: bold;
}

.col-benefits h1 {
    font-size: 3.5rem;
    font-weight: 900;
    color: #9792e4;
    display: block;
    padding: 1.5rem 0;
    
}

.col-benefits h4 {
    font-size: 1.8rem;
    padding-bottom: 1.5rem;
    font-weight: 900;
    color: #9792e4;
}

.col-benefits p {
    line-height: 1.5rem;
    font-size: 1rem;
    padding-bottom: 50px;
}

/* FINE QUARTA SEZIONE */

/* QUINTA SEZIONE */

.aboutus-left{
    color: black;
}

.aboutus-left h3{
    font-size: 40px;
    padding: 100px 0 50px;
    color: #9792e4;
}

.aboutus-left p{
    font-size: 2rem;
}

.row-aboutus{
    display: flex;
    gap: 200px;
}

.aboutus-right img{
    width: 100%;
    border-radius: 50%;
    margin: 100px 0 20px ;
}

.aboutus-right p{
    font-size: 2rem;
    color: #9792e4;
    font-weight: bold;
    margin-bottom: 30px;
}

.aboutus-right a{
    background-color: #9792e4;
    padding: 10px;
    border-radius: 20px;
}

/* FINE QUINTA SEZIONE */

