*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*   BARRA NAV */
li, a{
    list-style: none;
    color: white;
    text-decoration: none;
}

.nav-bar{
    background-color: #0084FD ;
    padding: 1em;
}

.container{
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    color: white;
}

.main-menu{
    display: flex;
    gap: 25px;
    padding: 10px;
    font-size: 1.25rem;
}

.startbutton{
    padding: 15px;
    background-color: white;
    border-radius: 50px;
    color: black;
    font-size: 1.25rem;
}
/* FINE BARRA NAV */

/* CARDS */

.container-cards{
    width: 1140px;
    margin: auto;
} 

.row{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.card{
    width: 100%;
    background-color: #B5DDFF ;
    border-radius: 20px;
    margin: 10px 0;
    border: 1px solid black;
}

.card-big{
    flex-grow: 1;
    flex-basis: 0;
    width: 100%;
    border-radius: 20px;
    padding: 15px 15px 0 15px;
    display: flex;
}

.text-card h2{
    color: #0084FD;
}

.text-card p{
   color: grey;
   line-height: 25px;
}

.text-card .button-app{
    background-color: #0084FD;
    text-decoration: none;
    color: white;
    padding: 5px 40px;
    border-radius: 20px;
}

.image-card img{
    width: 100%;
    display: block;
}

.image-card{
    width: 250px;
}

.card-small{
   padding: 25px;
}

.card-small .text-card{
    text-align: center;
}

.iconsmall-card{
    color: #0084FD;;
    font-size: 60px;
}